.c{
	background: url(/img/cupcake.jpg);
	min-height: 60vh;
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: ". c";
}
.c-content{
	min-height: 100%;
	grid-area: c;
	h1{
		background: white;
		margin: 0;
		padding-top: 20vh;
		padding-right: 10%;
		padding-left: 10%;
		mix-blend-mode: lighten;
	}
	p{
		background: white;
		margin: 0;
		padding-right: 10%;
		padding-left: 10%;
		padding-top: 5vh;
		padding-bottom: 20vh;
	}
}

@media (max-width: 700px){
	.c{
		grid-template-columns: 1fr;
	}
}