.d{
	width: 100%;
	background: url(/img/pomegranate.jpg);
	background-size: cover;
	background-position: center;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.d-content{
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 15vh;
	padding-bottom: 15vh;
	background: #F3F3F3;
	mix-blend-mode: lighten;
}