.footer{
	min-height: 20vh;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #122029;
	background-position: center;
	background-attachment:fixed;
	p{
		color: white;
		a{
			color: white;
		}
	}
}