.heder{
	width: 100%;
	min-height: 100vh;
	background: url(/img/pizza.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: row; 
	//выравнивание по горизонтальной линии
	justify-content: center;
	//выравнивание по вертикальной линии
	align-items: center;
	h1{
		margin: 0;
		background: white;
//		filter: brightness(90%);
		mix-blend-mode: lighten;
		padding: 30px;
	}
}