@import "normalize";
@import "bourbon";
@import "fonts";

html, body{
	margin: 0;
	padding: 0;
}
h1{
	font-size: 3em;
	font-family: HelveticaRegular;
}
p, ul, li, a{
	font-size: 1.6em;
	font-family: HelveticaRegular;
}

@import "heder";
@import "a";
@import "b";
@import "c";
@import "d";
@import "footer";
