<div class="b">
	<div class="b-content">
		<h1>Lorem ipsum dolor sit amet</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ipsum impedit, alias nisi quam, in aliquid earum fuga, vitae error modi. Dolorum repudiandae voluptatibus delectus expedita at facere. Iste, officiis.</p>
	</div>
</div>